* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  position: initial;
}

@font-face {
  font-family: "dancing script";
  src: url("./assets/fonts/DancingScript-Regular.eot");
  src: url("./assets/fonts/DancingScript-Regular.woff") format("woff")
    url("./assets/fonts/DancingScript-Regular.ttf") format("truetype")
    url("./assets/fonts/DancingScript-Regular.svg") format("svg")
    url("./assets/fonts/DancingScript-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "dancing script";
}
